@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'New';
  src: url('/fonts/NeuePower-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
@font-face {
  font-family: 'cb';
  src: url('/fonts/cyberank-malrv.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
 
.ant{
  font-family: 'New' !important; 
}
.leftside h1,.leftside span { 
  font-family:  'New' !important;
  font-weight: bolder;  
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}
html,body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  color: white !important;
  background-color: #080311;
}
.inshadow{
  box-shadow: inset 0 0 10px #ffffff1c;
}
.inshadow2{
  box-shadow: inset 0 0 30px #ffffff57;
}
 
.inshadow2hover:hover{
  box-shadow: inset 0 0 55px #ffffff57;
}
 
 
.frame {
    background: #161621;
    background: linear-gradient(317deg, #9a83d3 -161%, #080312 77%);
}

.proj {
  background: #161621;
  background: linear-gradient(135deg, #9a83d3 -161%, #080312 77%);
  background: linear-gradient(150deg, #9a83d3 -34%, #080312 45%);
}

.footer {  background: #18255a;
  background: linear-gradient(180deg, #9a83d3 -36%, #080312 64%);
}
/* .footer2 {  
  background: #161621;
  background: linear-gradient(0deg, #9a83d3 -36%, #080312 64%);
} */

.footer2 {
  background: #161621;
  background: linear-gradient(2deg, #9a83d3 -209%, #080312 42%);
}


.logo{
  background: rgb(17,17,17);
  background:linear-gradient(179deg, #ffffff -22%, #080312 98%); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logo3{
  background: rgb(17,17,17);
  background: linear-gradient(179deg, #ffffff 17%, #8268b7 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body::-webkit-scrollbar{
  width: 0;
} 
::selection{
  background-color  : #5d449a;
  color: #121925;
}
.tilt {
  transform-style: preserve-3d;
}
 
.tilt-child{
  
  transform: translateZ(20px);
}

.sitgrd{  
  background: linear-gradient(0deg, #154adc6b 44%, #00031900 102%);
}
.ins:hover {
  background: linear-gradient(45deg, #f9ce34,#ee2a7b,#6228d7); 
  animation: gradientBackground 15s ease infinite;
  transform-style: preserve-3d;
} 

.inns:hover{
  background: linear-gradient(45deg, #f9ce34,#ee2a7b,#6228d7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.maill:hover{
  background: linear-gradient(160deg, #0047e7,#008744,#d62d20 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mail:hover {
  background: linear-gradient(160deg, #0047e7,#008744,#d62d20 );
  animation: gradientBackground 15s ease infinite;
  transform-style: preserve-3d;
} 

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sad{ 
box-shadow: 0px -1px 31px -2px #5151ffde;
 
}  
.animate-gradient {
  background-image: radial-gradient(at 71% 98%, #8184ea 0px, transparent 50%), radial-gradient(at 36% 52%, #5497de 0px, transparent 50%), radial-gradient(at 27% 14%, #90eec9 0px, transparent 50%), radial-gradient(at 89% 2%, hsla(284,92%,63%,1) 0px, transparent 50%), radial-gradient(at 29% 65%, hsla(261,96%,78%,1) 0px, transparent 50%), radial-gradient(at 24% 34%, hsla(214,77%,63%,1) 0px, transparent 50%), radial-gradient(at 94% 18%, hsla(273,68%,67%,1) 0px, transparent 50%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 7s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo h2,.movindtextdiv h1 { 
  font-family: "Bebas Neue" !important; 
}
.logo3 h2{  
  font-family: 'cb' !important; 
} 
  
.leftside span{ 
  text-shadow: none;
} 
.lbtn:active {
  transform: scale(0.95);
  background: linear-gradient(270deg, #360266, #4E48E6, #ff00ea);
  background-size: 400% 400%;
   
  animation: gradient 10s ease infinite;
}

.lbtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 37, 37);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}

.lbtn:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.lbtn:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(222,0,75);
  background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.lbtn:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);}
}


.mainimg ,.icon{
  animation: imgani 1s linear alternate-reverse infinite;
  filter:contrast(1.19) drop-shadow(-10px 4px 12px #000000a7);
}
.icon{
  animation: imgani 2s linear alternate-reverse infinite; 
}
@keyframes imgani {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.movindtextdiv h1 ::selection {
  background-color: transparent;
}

.gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  background: linear-gradient(76deg, #121925 0%, rgba(255, 255, 255, 0) 123%);
}
 
.skilsimgh {
    box-shadow: inset 0 0 83px #9551ff1c;
    
    background: #161621;
    background: linear-gradient(317deg, #9a83d3 -345%, #080312 89%);
}

.page7 div {
  background-color: transparent;
}

.myworkdiv img {
  box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.secondftr h2 , .logo2{
  background: rgb(17,17,17);
  background:linear-gradient(179deg, #ffffff -22%, #34294c 98%); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
 
.circlemove { 
  animation: cirmove 4s infinite alternate-reverse ease-in-out;
}
@keyframes cirmove {to{ transform: translateX(0) ; }from{ transform: translateX(30%) translateY(-40%); }  }

.retrohover:hover {
  background: #161621;
  background: linear-gradient(0deg, #f9f9f969 -3%, #08031200 49%) !important;
}
 
.retro {
  background: #161621;
  background: linear-gradient(0deg, #ffffff51 -23%, #08031200 37%);
}

.logof {
  background: rgb(17, 17, 17);
  background: linear-gradient(217deg, #ffffff 5%, #080312 105%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logos {
  background: rgb(17, 17, 17);
  background: linear-gradient(113deg, #ffffff -8%, #080312 114%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


.heroshadow {
  box-shadow: 20px -16px 76px 0px #5151ffde, inset 20px 0px 113px #8a81ed;
}

  @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%; 
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%; 
  } 
}

  @layer base {
  * {
    @apply border-border; 
  }
  body {
    @apply bg-background text-foreground; 
  } 
}